# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/

# Environment
.env

# IDE
.vscode/
.idea/

# LocalStack
localstack_data/
volume/

# Misc
*.log
outfile.txt
